<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/style1.css">
<link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">Mysql-Nodejs</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <h2>Simple Email Validation</h2>
        </div>
        
        <form action="/auth/validate" method="POST">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <form method="post">
                    <div class="form-group">
                        <p>Please enter the 6 digit OTP that has been sent to Your mail</p>
                        <label for="validate-email">OTP</label>
                        <div class="input-group" data-validate="email">
                            <input type="text" class="form-control" name="otp" id="validate-email" placeholder="Validate Email" required>
                            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-xs-12" >Submit</button>
                </form>
            </div>
        </div>
        </form>
        {{#if message}}
          <h3 class="alert alert-danger mt-3.5">{{message}}</h3>
        {{/if}}
    </div>  
</body>
</html>